h1 {
	font-size: 3.75em;
	text-transform: uppercase;
}
@include breakpoint(large-min) {
	#sidebar + #wrapper {
		margin-left: 0;
	}
	#wrapper > .wrapper {
		padding-left: 18em;
	}
	#sidebar {
		background: none;
	}
}
.wrapper.fullscreen {
	min-height: 100vh;
}
#kontakt {
	&.wrapper {
		padding-left: 0;
		.inner {
			padding-left: 24em;
			background: $color-blue;
			background: rgba(15,31,53,0.92);
			max-width: 60%;
			& > div {
				// padding: 2em 2em 2em 18em;
			}
		}
	}
}
#map {
	width: 400px;
	height: 400px;
	height: 100%;
	width: 100%;
	position:absolute;
	top: 0;
	left: 0;
	z-index: -2; /* Set z-index to 0 as it will be on a layer below the contact form */
	// opacity: 0.1;
}
