doctype html
html
	head
		title CZASCH &middot; stavební společnost &middot; již 24 let s vámi
		meta(name='description', content='Specializace na pozemní stavby, především na výstavbu, rekonstrukce a přípravu staveb. Mezi naše zákazníky patří mimo jiné MO ČR, MZV ČR, VZP ČR,...')
		meta(name='keywords', content='stavby bruntál, stavební společnost, pozemní stavby, rekonstrukce, příprava staveb, wellness bruntál')
		meta(property='og:title', content='CZASCH &middot; stavební společnost &middot; již 24 let s vámi')
		meta(property='og:description', content='Specializace na pozemní stavby, především na výstavbu, rekonstrukce a přípravu staveb. Mezi naše zákazníky patří mimo jiné MO ČR, MZV ČR, VZP ČR,...')
		meta(property='og:image', content='images/czasch-slider-01.jpg')
		meta(property='og:url', content='http://www.czasch.cz')
		//- meta(name='twitter:card', content='summary_large_image')
		meta(name='og:site_name', content='Czasch spol. s r.o. - stavební společnost')
		meta(name='twitter:image:alt', content='Czasch spol. s r.o. - stavební společnost')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='icon', type='image/png', href='favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='favicon-16x16.png', sizes='16x16')
		link(rel='stylesheet', href='css/app.css')
		//if lte IE 9
			link(rel='stylesheet', href='css/ie9.css')
		//if lte IE 8
			link(rel='stylesheet', href='css/ie8.css')
	body
		// Google Tag Manager
		noscript
			iframe(src='//www.googletagmanager.com/ns.html?id=GTM-PJJLGW', height='0', width='0', style='display:none;visibility:hidden')
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-PJJLGW');
		// End Google Tag Manager
		// Sidebar
		section#sidebar
			.inner
				nav
					ul
						li
							a(href='#intro') CZASCH
						li
							a(href='#o-spolecnosti') O společnosti
						li
							a(href='#realizace') Realizace
						li
							a(href='#nase-cinnost') Naše činnost
						li
							a(href='#kontakt') Kontakt
		// Wrapper
		#wrapper
			// Intro
			section#intro.wrapper.fullscreen.fade-up
				.inner
					h1 Czasch
					p
						| 24 let zkušeností s&nbsp;realizací staveb
					ul.actions
						li
							a.button.special.scrolly(href='#o-spolecnosti') Kdo jsme?
			// About
			section#o-spolecnosti.wrapper.fade-up.fullscreen
				.inner
					.8u(class='12u(large)')
						h2 CZASCH spol. s r.o.
						p Společnost 
							abbr(title="Vyslovuje se [čaš]") Czasch
							|  se již od roku 1993 specializuje na pozemní stavby, především na výstavbu, rekonstrukce a přípravu staveb. Stojí za významnými objekty nejen na Bruntálsku, ale také v celé České republice. 
						p Stavěli jsme rovněž ambasády ve Vídni, Talinu, Helsinkách a Kábulu. Mezi naše spokojené zákazníky patří mimo jiné ministerstva obrany a zahraničních věcí České republiky.
						p 
							strong Josef Šoltís
							br
							| jednatel společnosti Czasch spol. s r.o.
						ul.actions
							li
								a.button.special.scrolly(href='#realizace') Co jsme již realizovali?
			// Realizations
			section#realizace.wrapper.spotlights
				.inner
					h2 Byli jsme součástí těchto projektů&hellip;
				section
					.image
						img(src='images/realizace/czasch-realizace-wellness_centrum-bruntal.jpg', alt='Wellness Bruntál', data-position='center center')
					.content
						.inner
							h3 Wellness Bruntál
							p
								span.label investor 
								span.content Město Bruntál
								br
								span.label období 
								span.content 03/2009 - 03/2010
								br
								span.label objem 
								span.content 144 mil. Kč
							//- ul.actions
							//- 	li
							//- 		a.button(href='#') Fotky
				section
					.image
						img(src='images/realizace/czasch-realizace-municni_sklad-cerveny_vrch-caslav.jpg', alt='Výstavba skladu munice Červený vrch u Čáslavi', data-position='center center')
					.content
						.inner
							h3 Výstavba skladu munice Červený vrch u Čáslavi
							p
								span.label investor 
								span.content Ministerstvo obrany ČR
								br
								span.label období 
								span.content 11/2006 - 08/2008
								br
								span.label objem 
								span.content 117 mil. Kč
							//- ul.actions
							//- 	li
									//- a.button.popup-link(href='#popup-realizace-municni_sklad') Fotky
									//- a.button(href='#') Fotky
					//- #popup-realizace-municni_sklad.popup.mfp-hide
					//- 	.full-width-slider.royalSlider.heroSlider.rsMinW
					//- 		.rsContent
					//- 			img.rsImg(src='../img/full-width/1.jpg', alt='')
					//- 		.rsContent
					//- 			img.rsImg(src='../img/full-width/2.jpg', alt='')
					//- 		.rsContent
					//- 			img.rsImg(src='../img/full-width/3.jpg', alt='')
					//- 		.rsContent
					//- 			img.rsImg(src='../img/full-width/4.jpg', alt='')
				section
					.image
						img(src='images/realizace/czasch-realizace-peras-ludvikov.jpg', alt='Přístavba a dostavba sportovně relaxačního centra PERAS v Ludvíkově', data-position='center center')
					.content
						.inner
							h3 Přístavba a dostavba sportovně relaxačního centra PERAS v Ludvíkově
							p
								span.label investor 
								span.content Lyžařské běžecké tratě Suchá Rudná
								br
								span.label období
								span.content 12/2012 – 06/2014
								br
								span.label objem 
								span.content 34 mil. Kč
							//- ul.actions
							//- 	li
							//- 		a.button(href='#') Fotky
				section
					.image
						img(src='images/realizace/czasch-realizace-bytovy_dum-hubertus-karlova_studanka.jpg', alt='Wellness Bruntál', data-position='center center')
					.content
						.inner
							h3 Bytový dům Hubertus Karlova Studánka
							p
								span.label investor 
								span.content NEMI spol. s r.o.
								br
								span.label období 
								span.content 06/2011 - 07/2013
								br
								span.label objem 
								span.content 94 mil. Kč
							//- ul.actions
							//- 	li
							//- 		a.button(href='#') Fotky
				section
					.image
						img(src='images/realizace/czasch-realizace-spolecensky_dum-bruntal.jpg', alt='Rekonstrukce společenského domu v Bruntále', data-position='center center')
					.content
						.inner
							h3 Rekonstrukce společenského domu v Bruntále
							p
								span.label investor 
								span.content Město Bruntál
								br
								span.label období 
								span.content 11/2006 - 10/2007
								br
								span.label objem 
								span.content 86 mil. Kč
							//- ul.actions
							//- 	li
							//- 		a.button(href='#') Fotky
				section
					.image
						img(src='images/realizace/czasch-realizace-ambasada_cr-kabul-afghanistan.jpg', alt='Ambasáda ČR v Kábulu (Afghanistán)', data-position='center center')
					.content
						.inner
							h3 Ambasáda ČR v Kábulu (Afghanistán)
							p
								span.label investor 
								span.content MZV České republiky
								br
								span.label období
								span.content 06/2009 - 12/2009
								br
								span.label objem 
								span.content 49 mil. Kč
							//- ul.actions
							//- 	li
							//- 		a.button(href='#') Fotky
				section.more
					.content
						.inner
							h3 Dále&hellip;
							p 
								|  Oprava a rekonstrukce kolejí Evžena Rošického &middot; 32 mil. Kč &middot; 
								span Univerzita Palackého v Olomouci
								br
								|  Hospodářský dvůr - zdravotnické provozy &middot; 116 mil. Kč &middot; 
								span Vojenská nemocnice Olomouc
								br
								|  Turistcentrum Dvorce &middot; 33 mil. Kč &middot; 
								span Obec Dvorce
								br
								|  Rekonstrukce rezidence zastupitelského úřadu - Bukurešť &middot; 40 mil. Kč &middot; 
								span MZV ČR
								br
								|  Výukový plavecký bazén Uničov &middot; 27 mil. Kč &middot; 
								span I-THERM, spol. s r.o.
								br
								|  Jince - rekonstrukce budovy &middot; 36 mil. Kč &middot; 
								span MO ČR
								br
								|  Výstavba administrativní budovy OP &middot; 31 mil. Kč &middot; 
								span VZP Šumperk
								br
								|  Novostavba pobočky Okresního soudu Karviná v Havířově &middot; 166 mil. Kč &middot; 
								span ČR - Okresní soud v Karviné
								br
								|  Rekonstrukce Zastupitelského úřadu ČR v Tallinnu &middot; 69 mil. Kč &middot; 
								span MZV ČR
								br
								|  Jince - rekonstrukce budovy č. 21 &middot; 36 mil. Kč &middot; 
								span MO ČR
								br
								|  Středisko pro výběr personálu AČR a velkokapacitní kuchyně VN &middot; 49 mil. Kč &middot; 
								span Vojenská nemocnice Olomouc
								br
								|  Jihlava - výstavba Celního úřadu &middot; 58 mil. Kč &middot; 
								span MF ČR
								br
								|  Domov s pečovatelskou službou Vrbno pod Pradědem &middot; 19 mil. Kč &middot; 
								span Město Vrbno pod Pradědem
								br
								|  Rekonstrukce Vojenského lázeňského ústavu Jeseník &middot; 140 mil. Kč &middot; 
								span Vojenské lázeňské a rekreační zařízení Praha
								br
								|  Dostavba areálu Voj. rehabilitačního ústavu Slapy nad Vltavou &middot; 202 mil. Kč &middot; 
								span Vojenské lázeňské a rekreační zařízení Praha
								//- | Rekonstrukce lázeňského domu Šárka &middot; 
								//- span St. léčebné lázně Karlova Studánka, s.p.
								//- br

							p
								strong A mnoho dalších.
							//- ul.actions
							//- 	li
							//- 		a.button(href='#') Fotky
				.inner.fade-up
					h3 Mezi investory patří:
					.row
						.6u(class='12u(medium)')
							li Moravskoslezský kraj
							li Ministerstvo zahraničních věcí ČR
							li Ministerstvo financí ČR
							li Ministerstvo obrany ČR
							li Všeobecná zdravotní pojišťovna ČR
							li Lesy České republiky, s. p.
						.6u(class='12u(medium)')
							li Univerzita Palackého v Olomouci
							li Město Bruntál
							li Město Vrbno pod Pradědem
							li Vojenská nemocnice Olomouc
							li Robin OiL spol. s r.o.
							li a další&hellip;
					.row.clients
						.10u(class='12u(large)')
							img(src="images/klienti/czasch-klienti-mzv_cr.png" alt="")
							img(src="images/klienti/czasch-klienti-mo_cr.png" alt="")
							img(src="images/klienti/czasch-klienti-mf_cr.png" alt="")
							img(src="images/klienti/czasch-klienti-up_olomouc.png" alt="")
							img(src="images/klienti/czasch-klienti-msk.png" alt="")
							img(src="images/klienti/czasch-klienti-lesy_cr.png" alt="")
							img(src="images/klienti/czasch-klienti-vzp_cr.png" alt="")
					ul.actions
						li
							a.button.special.scrolly(href='#nase-cinnost') Čím se zabýváme?
						li
							a.button.scrolly(href='#kontakt') Kontaktujte nás
			// Services
			section#nase-cinnost.wrapper.fade-up
				.inner
					h2 Naše činnost
					h3 Stavební výroba
					ul
						li Stavby a rekonstrukce obytných domů
						li Stavby občanské vybavenosti
						li Rekonstrukce historických budov
						li Stavby pro cestovní ruch a rekreaci
						li Ekologické stavby
						li Výstavba a rekonstrukce průmyslových objektů
					p.10u(class='12u(large)')
						| Specializujeme se na pozemní stavby, máme velké zkušenosti s rekonstrukcemi objektů a sanacemi jejich jednotlivých konstrukcí. Z těchto zkušeností těžíme při realizaci staveb nových.
					p.10u(class='12u(large)')
						| Provádíme také stavby inženýrských sítí a vodohospodářských objektů. Všechny výše uvedené druhy staveb jsou vedeny pracovníky s příslušnou autorizací.
					.features
						section
							//- span.icon.major.fa-code
							h3 Autodoprava
							p
								| Naše společnost má k dispozici případně si najme strojní a dopravní vybavení potřebné k realizaci zakázek.
							p
								a.button(href='#') Ceník autodopravy (PDF)
						section
							//- span.icon.major.fa-code
							h3 Pronájem lešení
							h4 Anna Jungwirthová
							p
								a(href='mailto:jungwirthova@czasch.cz') jungwirthova@czasch.cz
								br
								| +420 608 653 034
							p
								a.button(href='#') Ceník lešení (PDF)
						section
							//- span.icon.major.fa-code
							h3 Další služby
							ul
								li Sádrokartonářské práce
								li Pokládka
								li Rekonstrukce bytových jader
								li Malířství a natěračství
							h4 Zdeněk Janák
							p
								a(href='mailto:janak@czasch.cz') janak@czasch.cz
								br
								| + 420 608 653 258
					ul.actions
						//- h3 Zaujali jsme vás?
						li
							a.button.special.scrolly(href='#kontakt') Kontaktujte nás
			// Contact
			section#kontakt.wrapper.fade-up.fullscreen
				.inner
					.row
						.7u(class='12u(small)')
							h2 Kontakt
							h3 Sídlo společnosti
							p
								| Czasch spol. s r.o.
								br
								| Opavská 1174/8
								br
								| 792 01 Bruntál
							p.important
								| +420 554 711 101
								br
								| +420 608 653 000
								br
								a(href='mailto:czasch@czasch.cz') czasch@czasch.cz
							p
								| IČ: 47972947 / DIČ: CZ47972947
								br
								| KB Bruntál: 18549-771/0100
							h3 Jednatel společnosti
							p
								| Josef Šoltís
								br
								a(href='mailto:soltis@czasch.cz') soltis@czasch.cz
							//- h4 Ekonomická ředitelka
							//- p
							//- 	| Dagmar Volčíková
							//- 	br
							//- 	a(href='mailto:volcikova@czasch.cz') volcikova@czasch.cz
						a#map.5u(class='12u(small)', href="https://goo.gl/maps/LzwBgxFnWU82", target="_blank")
			// Footer
			//- footer#footer.wrapper
			//- 	.inner
			//- 		ul.menu
			//- 			li © Untitled. All rights reserved.
			//- 			li
			//- 				| Design: 
			//- 				a(href='http://html5up.net') HTML5 UP
			// Scripts
			//- script(src='http://maps.google.com/maps/api/js?key=AIzaSyBJ0O4AYBHfj2Rjhimv0WiYDh52by5EekU')
			script(src='js/scripts.js')
			| <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
			//- script(src='js/main.js')
