doctype html
html
	head
		title CZASCH &middot; 28 let s vámi &middot; pronájem kanceláří
		meta(name='description', content='Pronájem kancelářských prostor. Pronájem lešení.')
		meta(name='keywords', content='Pronájem kancelářských prostor. Pronájem lešení.')
		//- meta(name='description', content='Specializace na pozemní stavby, především na výstavbu, rekonstrukce a přípravu staveb. Mezi naše zákazníky patří mimo jiné MO ČR, MZV ČR, VZP ČR,...')
		//- meta(name='keywords', content='stavby bruntál, stavební společnost, pozemní stavby, rekonstrukce, příprava staveb, wellness bruntál')
		meta(property='og:title', content='CZASCH &middot; 28 let s vámi &middot; pronájem kanceláří')
		meta(property='og:description', content='Pronájem kancelářských prostor. Pronájem lešení.')
		meta(property='og:image', content='images/czasch-slider-01.jpg')
		meta(property='og:url', content='https://www.czasch.cz')
		//- meta(name='twitter:card', content='summary_large_image')
		//- meta(name='og:site_name', content='Czasch spol. s r.o. - stavební společnost')
		//- meta(name='twitter:image:alt', content='Czasch spol. s r.o. - stavební společnost')
		meta(name='og:site_name', content='Czasch spol. s r.o.')
		meta(name='twitter:image:alt', content='Czasch spol. s r.o.')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='icon', type='image/png', href='favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='favicon-16x16.png', sizes='16x16')
		link(rel='stylesheet', href='css/app.css')
		//if lte IE 9
			link(rel='stylesheet', href='css/ie9.css')
		//if lte IE 8
			link(rel='stylesheet', href='css/ie8.css')
	body
		// Sidebar
		section#sidebar
			.inner
				nav
					ul
						li
							a(href='#intro') CZASCH
						//- li
						//- 	a(href='#o-spolecnosti') O společnosti
						//- li
						//- 	a(href='#realizace') Realizace
						li
							a(href='#nase-cinnost') Naše činnost
						li
							a(href='#kontakt') Kontakt
		// Wrapper
		#wrapper
			// Intro
			section#intro.wrapper.fullscreen.fade-up
				.inner
					h1 Czasch
					//- p
					//- 	| 28 let s vámi
					p
						| Pronájem (kancelářských) prostor
						br
						| Pronájem lešení
						br
						| Ubytovna
					ul.actions
						li
							a.button.special.scrolly(href='#nase-cinnost') Naše činnost
						li
							a.button.scrolly(href='#kontakt') Kontakt
			// About
			//- section#o-spolecnosti.wrapper.fade-up.fullscreen
			//- 	.inner
			//- 		.8u(class='12u(large)')
			//- 			h2 CZASCH spol. s r.o.
			//- 			p Společnost 
			//- 				abbr(title="Vyslovuje se [čaš]") Czasch
			//- 				|  se již od roku 1993 specializuje na pozemní stavby, především na výstavbu, rekonstrukce a přípravu staveb. Stojí za významnými objekty nejen na Bruntálsku, ale také v celé České republice. 
			//- 			p Stavěli jsme rovněž ambasády ve Vídni, Talinu, Helsinkách a Kábulu. Mezi naše spokojené zákazníky patří mimo jiné ministerstva obrany a zahraničních věcí České republiky.
			//- 			p 
			//- 				strong Josef Šoltís
			//- 				br
			//- 				| Ředitel společnosti Czasch spol. s r.o.
			//- 			ul.actions
			//- 				li
			//- 					a.button.special.scrolly(href='#realizace') Co jsme již realizovali?
			// Services
			section#nase-cinnost.wrapper.fade-up
				.inner
					h2 Naše činnost
					.features
						section
							h3 Pronájem kancelářských prostor
							ul
								li
									| 19 kanceláří k pronájmu o velikosti 6,5 m
									sup 2
									|  - 38,5 m
									sup 2
									| .
								li
									| Cena za 1 m
									sup 2
									|  je od 40,- Kč / m
									sup 2
									|  / měsíc + náklady za energie
								li
									a(href='https://www.kancelare-bruntal.cz' target='_blank') www.kancelare-bruntal.cz
								li
									| Kontakt: Zdeněk Janák — 
									a(href='tel:+420608653075') +420 608 653 075
									|  — 
									a(href='mailto:pronajem@czasch.cz') pronajem@czasch.cz
					.features
						section
							h3 Pronájem lešení a drobného nářadí
							ul
								li
									| Peri lešení od 1,50 Kč/m
									sup 2
								li
									a(href='https://www.leseni-bruntal.cz' target='_blank') www.leseni-bruntal.cz
								li
									| Kontakt: Zdeněk Janák, 
									a(href='tel:+420608653075') +420 608 653 075
					.features
						section
							h3 Ubytovna Penzion ABC
							ul
								li
									a(href='https://www.penzionabc.cz' target='_blank') www.penzionabc.cz
								li
									| Kontakt: Dagmar Volčíková — 
									a(href='tel:+420608653018') +420 608 653 018
									|  / Zdeněk Janák — 
									a(href='tel:+420608653075') +420 608 653 075
			// Contact
			section#kontakt.wrapper.fade-up.fullscreen
				.inner
					.row
						.7u(class='12u(small)')
							h2 Kontakt
							h3 Sídlo společnosti
							p
								| Czasch spol. s r.o.
								br
								| Opavská 1174/8
								br
								| 792 01 Bruntál
							p
								a(href='mailto:czasch@czasch.cz') czasch@czasch.cz
							p
								| IČ: 47972947 / DIČ: CZ47972947
								br
								| KB Bruntál: 18549-771/0100
							h3 Kontaktní osoba
							p
								| Zdeněk Janák
								br
								| +420 608 653 075
								br
								a(href='mailto:janak@czasch.cz') janak@czasch.cz
							h3 Ekonomický úsek
							p
								| Dagmar Volčíková
								br
								| +420 608 653 018
								br
								a(href='mailto:volcikova@czasch.cz') volcikova@czasch.cz
						a#map.5u(class='12u(small)' href='https://goo.gl/maps/LzwBgxFnWU82' target='_blank')
			script(src='js/scripts.js')
			| <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
